<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <title>IOT智慧門鈴</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>IOT智慧門鈴</h1>
  <p>組員：歐鎧豪、陳秉嘉</p>
  <img src="/show/guest_photo.jpg" width="600" height="450" id="guest_photo">

  <div id="menu" hidden="true">
    <button id="refuse_btn" type="button" class="btn btn-danger">保持上鎖</button>
    <button id="accept_btn" type="button" class="btn btn-success">同意放行</button>
  </div>
</body>

<script>
  function getServerTime() {
    var xmlHttp;
    try {
      //FF, Opera, Safari, Chrome
      xmlHttp = new XMLHttpRequest();
    }
    catch (err1) {
      //IE
      try {
        xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
      }
      catch (err2) {
        try {
          xmlHttp = new ActiveXObject('Microsoft.XMLHTTP');
        }
        catch (eerr3) {
          //AJAX not supported, use CPU time.
          alert("AJAX not supported");
        }
      }
    }
    xmlHttp.open('HEAD', window.location.href.toString(), false);
    xmlHttp.setRequestHeader("Content-Type", "text/html");
    xmlHttp.send('');
    var serverTime = new Date(xmlHttp.getResponseHeader("Date"));
    return serverTime.getTime() / 1000;
  }

  lastGuestComing = getServerTime();

  setInterval(function () {
    $.getJSON('/has_guest_since/' + lastGuestComing.toString(), function (data) {
      // JSON result in `data` variable
      if (data === true) { //圖片已經有改動，代表有新的客戶來
        // 更新圖片
        var d = new Date();
        $('#guest_photo').attr("src", '/show/guest_photo.jpg?' + d.getTime());
        lastGuestComing = getServerTime();
        // 秀按鈕     
        $("#menu").attr("hidden", false);
        // 提示
        alert("有新的訪客！")
      }
    });
  }, 3000) /* time in milliseconds (ie 3 seconds)*/

  $("#refuse_btn").on("click", function () {
    $("#menu").attr("hidden", true);
  })

  $("#accept_btn").on("click", function () {
    $("#menu").attr("hidden", true);
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
        // callback(xmlHttp.responseText);
        console.log(xmlHttp.responseText);
      }
    }
    // 開5秒
    xmlHttp.open("GET", '/open_door/5', true); // true for asynchronous 
    xmlHttp.send(null);
  })

</script>

</html>